@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-x-auto-mobile {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(128, 128, 128, 0.05);
    padding: 25px;
    position: relative;
  }
  
  .overflow-x-auto-mobile::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }
  
  .overflow-x-auto-mobile::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(169, 169, 169, 0.5); /* Cor cinza mais clara */
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }